.main-header { //По БЭМу одно правило для блока
	padding-top: rem(50);
	padding-bottom: rem(45);
	&__row {
		align-items: center;
	}
	&__logo {
	@include flex-col(2);
	}
	&__nav {
	@include flex-col(10);
	}
}


